In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression, Lasso 
from sklearn.model_selection import train_test_split, cross_val_score 
from statistics import mean

In [5]:
housePrice = pd.read_csv("HousePrices.csv")

In [6]:
housePrice.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [7]:
list(housePrice.columns)

['Income',
 'Limit',
 'Rating',
 'Cards',
 'Age',
 'Education',
 'Gender',
 'Student',
 'Married',
 'Ethnicity',
 'Balance']

In [8]:
housePrice.shape

(400, 11)

In [9]:
housePrice.describe()

,Income,Limit,Rating,Cards,Age,Education,Balance
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000,520.015000
std,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207,459.758877
min,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000,0.000000
25%,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000,68.750000
50%,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000,459.500000
75%,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000,863.000000
max,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000,1999.000000

In [10]:
housePrice.corr()

,Income,Limit,Rating,Cards,Age,Education,Balance
Income,1.000000,0.792088,0.791378,-0.018273,0.175338,-0.027692,0.463656
Limit,0.792088,1.000000,0.996880,0.010231,0.100888,-0.023549,0.861697
Rating,0.791378,0.996880,1.000000,0.053239,0.103165,-0.030136,0.863625
Cards,-0.018273,0.010231,0.053239,1.000000,0.042948,-0.051084,0.086456
Age,0.175338,0.100888,0.103165,0.042948,1.000000,0.003619,0.001835
Education,-0.027692,-0.023549,-0.030136,-0.051084,0.003619,1.000000,-0.008062
Balance,0.463656,0.861697,0.863625,0.086456,0.001835,-0.008062,1.000000

In [91]:
X = housePrice.drop('SalePrice',axis =1)

In [29]:
house_price_copy = housePrice[['YearBuilt','YearRemodAdd','MasVnrArea','SalePrice','OverallQual','MiscVal']]

In [30]:
house_price_copy = house_price_copy.dropna()

In [31]:
X = house_price_copy.drop('SalePrice', axis = 1)
y = house_price_copy['SalePrice']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [33]:
# Bulding and fitting the Linear Regression model 
linearModel = LinearRegression() 
linearModel.fit(X_train, y_train) 
y_pred = linearModel.predict(X_test)
# Evaluating the Linear Regression model 
print(linearModel.score(X, y))

0.6595641969341581

In [34]:
# List to maintain the cross-validation scores 
cross_val_scores_lasso = [] 
  
# List to maintain the different values of Lambda 
Lambda = [] 
  
# Loop to compute the cross-validation scores 
for i in range(1,50): 
    lassoModel = Lasso(alpha = i * 0.25) 
    #alpha.append(alpha)
    lassoModel.fit(X_train, y_train) 
    scores = cross_val_score(lassoModel, X, y, cv = 10) 
    avg_cross_val_score = mean(scores)*100
    cross_val_scores_lasso.append(avg_cross_val_score) 
    Lambda.append(i * 0.25) 
  
# Loop to print the different values of cross-validation scores 
for i in range(0, len(Lambda)): 
    print(str(Lambda[i])+' : '+str(cross_val_scores_lasso[i]))

0.25 : 65.59187859362063
0.5 : 65.59188463570703
0.75 : 65.59189067858405
1.0 : 65.59189651981079
1.25 : 65.59190291958225
1.5 : 65.59190809333009
1.75 : 65.59191404712786
2.0 : 65.59192021543485
2.25 : 65.59192624255796
2.5 : 65.59193111260603
2.75 : 65.59193741447163
3.0 : 65.59194335910826
3.25 : 65.59195008281026
3.5 : 65.59195685849748
3.75 : 65.59196287408804
4.0 : 65.59196881227747
4.25 : 65.59197113158827
4.5 : 65.59197635982974
4.75 : 65.59198725752661
5.0 : 65.59199600670944
5.25 : 65.59199435784524
5.5 : 65.59200560989147
5.75 : 65.59201160946601
6.0 : 65.59202345075657
6.25 : 65.59203290502884
6.5 : 65.59203889873653
6.75 : 65.59204489055742
7.0 : 65.5920508804915
7.25 : 65.59205686853873
7.5 : 65.59206285469915
7.75 : 65.59206883897278
8.0 : 65.59207482135956
8.25 : 65.59208827282991
8.5 : 65.59209425136777
8.75 : 65.59209269001687
9.0 : 65.59208396530487
9.25 : 65.59208993799818
9.5 : 65.5920959088047
9.75 : 65.5921018777244
10.0 : 65.5921078447573
10.25 : 65.59211380990338
10.5 : 65.59211977316265
10.75 : 65.59212573453512
11.0 : 65.59213169402078
11.25 : 65.5921376516196
11.5 : 65.59214360733164
11.75 : 65.59214956115684
12.0 : 65.59215551309525
12.25 : 65.59216146314684

In [39]:
lassoModelChosen = Lasso(alpha = 12) 
lassoModelChosen.fit(X_train, y_train) 
  
# Evaluating the Lasso Regression model 
print(lassoModelChosen.score(X, y))

0.6595600976666849